# 特征工程数据预处理 v2.0

## 导入库

- pandas, numpy

In [1]:
import pandas as pd
import numpy as np

- 随机森林填补缺失值调用库

In [2]:
import matplotlib.pyplot as plt

from sklearn.ensemble import RandomForestRegressor
from sklearn.impute import SimpleImputer  #填补缺失值

---

## 导入数据

In [3]:
temp_raw_data = pd.read_excel("../附件1.xlsx")
temp_raw_data.groupby(by="所属行业").count()

                  股票代码
所属行业
交通运输、仓储和邮政业        107
住宿和餐饮业              10
信息传输、软件和信息技术服务业    343
农、林、牧、渔业            42
制造业               2667
卫生和社会工作             12
居民服务、修理和其他服务业        1
建筑业                 98
房地产业               120
批发和零售业             170
教育                   9
文化、体育和娱乐业           59
水利、环境和公共设施管理业       71
电力、热力、燃气及水生产和供应业   118
科学研究和技术服务业          64
租赁和商务服务业            58
综合                  16
采矿业                 77
金融业                121

In [4]:
raw_data = pd.read_csv("../Data/制造业.csv", encoding="utf8")

---

In [5]:
[m, n] = raw_data.shape
nan_col = raw_data.isnull().sum()
nan_col_lst = nan_col[nan_col > m * 0.5].index.to_list()   #判断空值率大于50%
clean_data_half = raw_data.drop(columns=nan_col_lst, axis=1)
clean_data_half

,Unnamed: 0,TICKER_SYMBOL,ACT_PUBTIME,PUBLISH_DATE,END_DATE_REP,END_DATE,REPORT_TYPE,FISCAL_PERIOD,MERGED_FLAG,ACCOUTING_STANDARDS,...,BIZ_TAX_SURCHG,NOPERATE_EXP,GOING_CONCERN_NI,COMPR_INC_ATTR_M_S,INCOME_TAX,NOPERATE_INCOME,MINORITY_GAIN,T_COGS,FLAG,industry
0,0,4019,3,3,2,1,A,12,1,CHAS_2007,...,1505596.10,224194.93,NaN,NaN,19509143.39,16781651.83,NaN,3.885748e+08,0.0,制造业
1,1,8166,3,3,2,1,A,12,1,CHAS_2007,...,28213513.69,1071702.74,NaN,NaN,52563706.01,22480726.69,NaN,4.930772e+09,0.0,制造业
2,4,11737,3,3,2,1,A,12,1,CHAS_2007,...,8298888.47,633458.95,NaN,21722671.14,36404446.16,60365828.87,21722671.14,1.384902e+09,0.0,制造业
3,6,16479,3,3,2,1,A,12,1,CHAS_2007,...,11585500.32,1727998.62,NaN,36810.52,17533501.14,18113878.30,36810.52,2.153059e+09,0.0,制造业
4,7,16842,4,4,3,1,A,12,1,CHAS_2007,...,1621817.64,499429.33,NaN,919215.16,8519689.96,4847047.58,919215.16,3.384751e+08,0.0,制造业
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13964,22205,4990942,7,7,7,6,A,12,1,CHAS_2007,...,19976636.83,12343645.55,1.724604e+08,19860974.28,43497296.63,3451683.50,19860974.28,1.634816e+09,NaN,制造业
13965,22206,4992204,7,7,7,6,A,12,1,CHAS_2007,...,4930086.99,6463772.11,6.729722e+07,NaN,9266856.60,NaN,NaN,5.006001e+08,NaN,制造业
13966,22207,4992858,7,7,7,6,A,12,1,CHAS_2007,...,2920643.92,111091.53,6.933519e+06,1889692.56,898725.15,32321.42,1889692.56,3.113814e+08,NaN,制造业
13967,22208,4993201,7,7,7,6,A,12,1,CHAS_2007,...,18134817.61,4526795.07,9.218567e+07,-7181958.13,31889179.48,106277.29,-7181958.13,1.650710e+09,NaN,制造业
13968,22211,4998808,7,7,7,6,A,12,1,CHAS_2007,...,29732753.24,901275.67,6.794989e+07,-5187877.57,13703182.05,103999.48,-5190867.54,1.648540e+09,NaN,制造业

In [6]:
clean_data_usefull = clean_data_half.drop(columns=["Unnamed: 0", "ACT_PUBTIME", "PUBLISH_DATE","END_DATE_REP",
                                                     "END_DATE","REPORT_TYPE","FISCAL_PERIOD","MERGED_FLAG",
                                                     "ACCOUTING_STANDARDS","CURRENCY_CD",'industry','TICKER_SYMBOL'])
clean_data_usefull

,CASH_C_EQUIV,NOTES_RECEIV,AR,PREPAYMENT,OTH_RECEIV,INVENTORIES,OTH_CA,T_CA,AVAIL_FOR_SALE_FA,LT_EQUITY_INVEST,...,N_INCOME,BIZ_TAX_SURCHG,NOPERATE_EXP,GOING_CONCERN_NI,COMPR_INC_ATTR_M_S,INCOME_TAX,NOPERATE_INCOME,MINORITY_GAIN,T_COGS,FLAG
0,6.719939e+08,1.643520e+08,3.451945e+08,1.039522e+07,3584940.60,9.372176e+07,NaN,1.291554e+09,NaN,2.026086e+07,...,1.054685e+08,1505596.10,224194.93,NaN,NaN,19509143.39,16781651.83,NaN,3.885748e+08,0.0
1,1.010981e+09,2.155752e+09,2.887470e+08,1.075202e+08,85626756.05,1.049809e+09,1.080342e+07,4.709240e+09,NaN,2.530000e+04,...,3.626590e+08,28213513.69,1071702.74,NaN,NaN,52563706.01,22480726.69,NaN,4.930772e+09,0.0
2,1.502023e+09,2.688988e+07,9.517806e+08,4.157376e+07,37519236.14,6.611381e+08,3.919438e+08,3.619333e+09,1500000.00,1.503091e+08,...,3.479212e+08,8298888.47,633458.95,NaN,21722671.14,36404446.16,60365828.87,21722671.14,1.384902e+09,0.0
3,9.966031e+08,3.686740e+05,2.824134e+08,2.741431e+07,67249473.03,3.400061e+08,8.145214e+08,2.554056e+09,NaN,NaN,...,1.043842e+08,11585500.32,1727998.62,NaN,36810.52,17533501.14,18113878.30,36810.52,2.153059e+09,0.0
4,5.763404e+07,8.990000e+06,5.941825e+07,3.603420e+07,775584.93,6.985958e+07,4.721015e+05,2.331838e+08,NaN,NaN,...,5.190705e+07,1621817.64,499429.33,NaN,919215.16,8519689.96,4847047.58,919215.16,3.384751e+08,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13964,2.576919e+08,3.315863e+08,6.357174e+08,3.247564e+07,16499824.39,5.204736e+08,1.828237e+08,1.977268e+09,1120914.00,1.447321e+08,...,1.724604e+08,19976636.83,12343645.55,1.724604e+08,19860974.28,43497296.63,3451683.50,19860974.28,1.634816e+09,NaN
13965,5.346339e+07,5.015221e+07,1.062665e+08,3.001468e+06,1910677.33,6.922770e+07,1.312207e+06,2.853342e+08,NaN,NaN,...,6.729722e+07,4930086.99,6463772.11,6.729722e+07,NaN,9266856.60,NaN,NaN,5.006001e+08,NaN
13966,2.440501e+08,3.076474e+05,8.106961e+07,3.484379e+06,4939396.20,9.927149e+07,5.539442e+06,4.502721e+08,NaN,NaN,...,6.933519e+06,2920643.92,111091.53,6.933519e+06,1889692.56,898725.15,32321.42,1889692.56,3.113814e+08,NaN
13967,1.383177e+08,2.065400e+06,2.356441e+08,2.378197e+07,10805864.85,3.880520e+08,2.597709e+07,8.246441e+08,NaN,8.970750e+07,...,9.218567e+07,18134817.61,4526795.07,9.218567e+07,-7181958.13,31889179.48,106277.29,-7181958.13,1.650710e+09,NaN
13968,1.636861e+09,1.315565e+06,6.862857e+08,5.058011e+07,NaN,1.247265e+09,4.129781e+07,3.666948e+09,49055962.21,NaN,...,6.794989e+07,29732753.24,901275.67,6.794989e+07,-5187877.57,13703182.05,103999.48,-5190867.54,1.648540e+09,NaN

In [7]:
flag_nan = clean_data_usefull['FLAG'].isna()
flag_nan_list = flag_nan[flag_nan == True].index.to_list()
clean_data_flag=clean_data_usefull.drop(index=flag_nan_list, axis=0)
clean_data_flag['FLAG'].isna().sum()

0

In [8]:
[m, n] = clean_data_flag.shape
nan_col = clean_data_flag.isnull().sum()
nan_col_lst2 = nan_col[nan_col > m*0.2].index.to_list()
print("列数:",len(nan_col_lst2))
print(nan_col_lst2)

for na in nan_col_lst2:
    mean_val = clean_data_flag[na].mean()
    clean_data_flag[na].fillna(mean_val, inplace=True)
    
clean_data_mean = clean_data_flag

列数: 20
['AVAIL_FOR_SALE_FA', 'LT_EQUITY_INVEST', 'LT_AMOR_EXP', 'OTH_NCA', 'ST_BORR', 'NOTES_PAYABLE', 'INT_PAYABLE', 'MINORITY_INT', 'OTH_COMPRE_INCOME', 'C_PAID_OTH_FINAN_A', 'C_PAID_INVEST', 'PROC_SELL_INVEST', 'REFUND_OF_TAX', 'GAIN_INVEST', 'FOREX_EFFECTS', 'C_FR_OTH_INVEST_A', 'OTH_COMPR_INCOME', 'GOING_CONCERN_NI', 'COMPR_INC_ATTR_M_S', 'MINORITY_GAIN']

---

## 随机森林填充缺失值

In [9]:
sortindex = np.argsort(clean_data_mean.isnull().sum(axis = 0)).values
#np.argsort用来排序，返回从小到大的顺序对对应的索引，然后取出其中的values
nan_coll= clean_data_mean.isnull().sum()
a = nan_coll[nan_coll ==0 ].count()
print(a)
index = sortindex[a+1:]
print(index)

38
[10 54 52 50 67 57 58 23 42 46 72 71 40 84 45 30 63 77 33 48 59 86 65 83
  3  5 91 22 12 32 62 31 90 87 21 68 20  2 55 14 74 44 25 76  4 28 70 66
 11  1 61  6 60 27 41 81]

In [10]:
for i in index:
    #构造新特征矩阵和新标签
    df = clean_data_mean.drop(columns = 'FLAG')
    fillc = df.iloc[:,i]
   # df = pd.concat([df.iloc[:,df.columns!=i],pd.DataFrame(y_full)],axis = 1)
    
    #在新特征矩阵中，对含有缺失值的列，进行0的填补
    df_0 = SimpleImputer(missing_values = np.nan,strategy = 'constant',fill_value = 0).fit_transform(df)
    
    #划分训练集以及测试集
    y_train = fillc[fillc.notnull()]   #不为空值的
    y_test = fillc[fillc.isnull()]     #为空值的
    x_train = df_0[y_train.index,:]
    x_test = df_0[y_test.index,:]
    
    #a
    print(y_test)
    
    #用随机森林填补缺失值
    rfc = RandomForestRegressor()
    rfc.fit(x_train,y_train)
    y_predict = rfc.predict(x_test)
    
    clean_data_mean.iloc[y_test.index,i] = y_predict   #第六列全为空值的

7451   NaN
Name: FIXED_ASSETS, dtype: float64
71   NaN
Name: C_PAID_FOR_TAXES, dtype: float64
71   NaN
Name: N_CHANGE_IN_CASH, dtype: float64
71   NaN
Name: C_INF_FR_OPERATE_A, dtype: float64
71   NaN
Name: C_PAID_TO_FOR_EMPL, dtype: float64
71   NaN
Name: C_OUTF_OPERATE_A, dtype: float64
71   NaN
Name: C_FR_OTH_OPERATE_A, dtype: float64
4729   NaN
Name: TAXES_PAYABLE, dtype: float64
71   NaN
Name: N_CF_OPERATE_A, dtype: float64
71     NaN
8305   NaN
Name: C_PAID_FOR_OTH_OP_A, dtype: float64
9063    NaN
10247   NaN
Name: T_REVENUE, dtype: float64
9063    NaN
10247   NaN
Name: REVENUE, dtype: float64
71     NaN
4261   NaN
4963   NaN
Name: N_CF_FR_INVEST_A, dtype: float64
5269    NaN
9063    NaN
9407    NaN
10247   NaN
Name: COGS, dtype: float64
71      NaN
3069    NaN
5269    NaN
10247   NaN
Name: C_PAID_G_S, dtype: float64
2128   NaN
4281   NaN
4302   NaN
6521   NaN
Name: PAID_IN_CAPITAL, dtype: float64
17     NaN
71     NaN
1902   NaN
3983   NaN
6209   NaN
Name: N_CE_BEG_BAL, dtype: float64
464     NaN
7873    NaN
8763    NaN
10438   NaN
11248   NaN
Name: COMPR_INC_ATTR_P, dtype: float64
57      NaN
2128    NaN
4302    NaN
9063    NaN
9271    NaN
10404   NaN
Name: RETAINED_EARNINGS, dtype: float64
71     NaN
142    NaN
2004   NaN
4168   NaN
4847   NaN
8277   NaN
9063   NaN
9390   NaN
Name: C_FR_SALE_G_S, dtype: float64
71      NaN
2500    NaN
4261    NaN
4687    NaN
4963    NaN
5079    NaN
7813    NaN
10855   NaN
Name: C_OUTF_FR_INVEST_A, dtype: float64
532    NaN
774    NaN
1695   NaN
1744   NaN
1799   NaN
2766   NaN
2824   NaN
3815   NaN
4206   NaN
4435   NaN
4958   NaN
5019   NaN
Name: BIZ_TAX_SURCHG, dtype: float64
71      NaN
1226    NaN
2500    NaN
4261    NaN
4687    NaN
4963    NaN
5079    NaN
7385    NaN
7813    NaN
8919    NaN
9122    NaN
10364   NaN
10620   NaN
10855   NaN
Name: PUR_FIX_ASSETS_OTH, dtype: float64
883     NaN
1436    NaN
1587    NaN
2238    NaN
3700    NaN
4415    NaN
5269    NaN
5919    NaN
6495    NaN
6668    NaN
7581    NaN
7700    NaN
8264    NaN
8271    NaN
9063    NaN
9122    NaN
9407    NaN
10114   NaN
10247   NaN
10568   NaN
10874   NaN
Name: SELL_EXP, dtype: float64
779     NaN
1002    NaN
1226    NaN
1587    NaN
2199    NaN
2238    NaN
2502    NaN
3069    NaN
3142    NaN
3487    NaN
4375    NaN
4415    NaN
4435    NaN
4689    NaN
5269    NaN
6079    NaN
6668    NaN
6964    NaN
7524    NaN
7551    NaN
7806    NaN
8443    NaN
9099    NaN
10371   NaN
Name: PREPAYMENT, dtype: float64
316     NaN
1226    NaN
2238    NaN
3487    NaN
3725    NaN
3949    NaN
4415    NaN
4435    NaN
4689    NaN
4729    NaN
5703    NaN
5946    NaN
6668    NaN
6689    NaN
6964    NaN
7551    NaN
7806    NaN
8300    NaN
9122    NaN
9434    NaN
10371   NaN
10409   NaN
10618   NaN
10912   NaN
Name: INVENTORIES, dtype: float64
709     NaN
4295    NaN
8788    NaN
8800    NaN
8853    NaN
8945    NaN
8963    NaN
9002    NaN
9099    NaN
9139    NaN
9252    NaN
9267    NaN
9319    NaN
9362    NaN
9434    NaN
9456    NaN
9504    NaN
9524    NaN
9611    NaN
9685    NaN
9791    NaN
9910    NaN
9967    NaN
10005   NaN
10058   NaN
10173   NaN
10568   NaN
10615   NaN
10618   NaN
10668   NaN
10746   NaN
10852   NaN
10874   NaN
10922   NaN
11001   NaN
11077   NaN
11098   NaN
11137   NaN
11144   NaN
11237   NaN
Name: NOPERATE_INCOME, dtype: float64
69      NaN
79      NaN
196     NaN
495     NaN
620     NaN
         ..
9737    NaN
9926    NaN
10490   NaN
10953   NaN
10974   NaN
Name: PAYROLL_PAYABLE, Length: 69, dtype: float64
234     NaN
433     NaN
472     NaN
612     NaN
750     NaN
         ..
10364   NaN
10462   NaN
10620   NaN
11146   NaN
11209   NaN
Name: INTAN_ASSETS, Length: 70, dtype: float64
21      NaN
57      NaN
183     NaN
493     NaN
551     NaN
         ..
11010   NaN
11051   NaN
11074   NaN
11177   NaN
11219   NaN
Name: SURPLUS_RESER, Length: 90, dtype: float64
71      NaN
308     NaN
338     NaN
457     NaN
709     NaN
         ..
10742   NaN
10811   NaN
10973   NaN
11188   NaN
11255   NaN
Name: N_CF_FR_FINAN_A, Length: 95, dtype: float64
62      NaN
293     NaN
457     NaN
504     NaN
583     NaN
         ..
10373   NaN
10387   NaN
10552   NaN
10897   NaN
11253   NaN
Name: CAPITAL_RESER, Length: 105, dtype: float64
21      NaN
77      NaN
116     NaN
357     NaN
379     NaN
         ..
10912   NaN
10931   NaN
11067   NaN
11116   NaN
11179   NaN
Name: INCOME_TAX, Length: 107, dtype: float64
217     NaN
234     NaN
260     NaN
290     NaN
329     NaN
         ..
11051   NaN
11070   NaN
11075   NaN
11134   NaN
11295   NaN
Name: NOPERATE_EXP, Length: 127, dtype: float64
77      NaN
102     NaN
160     NaN
277     NaN
316     NaN
         ..
10771   NaN
10795   NaN
10852   NaN
10912   NaN
10944   NaN
Name: ADVANCE_RECEIPTS, Length: 131, dtype: float64
71      NaN
308     NaN
338     NaN
457     NaN
546     NaN
         ..
10992   NaN
11054   NaN
11188   NaN
11255   NaN
11299   NaN
Name: C_OUTF_FR_FINAN_A, Length: 150, dtype: float64
316     NaN
564     NaN
2238    NaN
4215    NaN
4227    NaN
         ..
11101   NaN
11188   NaN
11213   NaN
11218   NaN
11248   NaN
Name: AP, Length: 151, dtype: float64
326     NaN
709     NaN
969     NaN
1144    NaN
2238    NaN
         ..
11010   NaN
11188   NaN
11213   NaN
11218   NaN
11248   NaN
Name: AR, Length: 165, dtype: float64
39      NaN
71      NaN
172     NaN
183     NaN
185     NaN
         ..
11060   NaN
11183   NaN
11188   NaN
11255   NaN
11299   NaN
Name: C_PAID_DIV_PROF_INT, Length: 279, dtype: float64
21      NaN
77      NaN
116     NaN
172     NaN
177     NaN
         ..
11074   NaN
11116   NaN
11150   NaN
11179   NaN
11306   NaN
Name: DEFER_TAX_ASSETS, Length: 317, dtype: float64
13      NaN
20      NaN
62      NaN
152     NaN
199     NaN
         ..
11246   NaN
11248   NaN
11250   NaN
11255   NaN
11284   NaN
Name: BASIC_EPS, Length: 333, dtype: float64
51      NaN
58      NaN
71      NaN
78      NaN
79      NaN
         ..
11086   NaN
11116   NaN
11134   NaN
11227   NaN
11253   NaN
Name: C_INF_FR_INVEST_A, Length: 378, dtype: float64
118     NaN
2408    NaN
2640    NaN
2902    NaN
3262    NaN
         ..
11248   NaN
11255   NaN
11279   NaN
11284   NaN
11305   NaN
Name: OTH_PAYABLE, Length: 423, dtype: float64
326     NaN
2249    NaN
2815    NaN
4426    NaN
5945    NaN
         ..
11279   NaN
11284   NaN
11285   NaN
11286   NaN
11289   NaN
Name: ASSETS_IMPAIR_LOSS, Length: 427, dtype: float64
283     NaN
1591    NaN
3289    NaN
4227    NaN
4237    NaN
         ..
11230   NaN
11237   NaN
11248   NaN
11255   NaN
11306   NaN
Name: OTH_RECEIV, Length: 447, dtype: float64
8       NaN
24      NaN
61      NaN
62      NaN
70      NaN
         ..
11246   NaN
11279   NaN
11280   NaN
11285   NaN
11289   NaN
Name: T_NCL, Length: 547, dtype: float64
13      NaN
20      NaN
46      NaN
62      NaN
72      NaN
         ..
11246   NaN
11248   NaN
11250   NaN
11255   NaN
11284   NaN
Name: DILUTED_EPS, Length: 649, dtype: float64
1       NaN
5       NaN
6       NaN
8       NaN
29      NaN
         ..
11188   NaN
11237   NaN
11244   NaN
11255   NaN
11293   NaN
Name: C_INF_FR_FINAN_A, Length: 828, dtype: float64
6       NaN
23      NaN
29      NaN
61      NaN
69      NaN
         ..
11271   NaN
11284   NaN
11287   NaN
11289   NaN
11295   NaN
Name: CIP, Length: 982, dtype: float64
23      NaN
24      NaN
39      NaN
60      NaN
69      NaN
         ..
11276   NaN
11282   NaN
11285   NaN
11295   NaN
11299   NaN
Name: NOTES_RECEIV, Length: 1205, dtype: float64
0       NaN
4       NaN
21      NaN
35      NaN
51      NaN
         ..
11247   NaN
11253   NaN
11255   NaN
11299   NaN
11308   NaN
Name: DISP_FIX_ASSETS_OTH, Length: 1338, dtype: float64
0       NaN
6       NaN
7       NaN
11      NaN
13      NaN
         ..
11193   NaN
11252   NaN
11277   NaN
11279   NaN
11305   NaN
Name: OTH_CA, Length: 1405, dtype: float64
0       NaN
1       NaN
5       NaN
14      NaN
27      NaN
         ..
11252   NaN
11255   NaN
11265   NaN
11289   NaN
11299   NaN
Name: C_PAID_FOR_DEBTS, Length: 1718, dtype: float64
3       NaN
5       NaN
7       NaN
8       NaN
11      NaN
         ..
11279   NaN
11280   NaN
11285   NaN
11286   NaN
11289   NaN
Name: DEFER_REVENUE, Length: 1938, dtype: float64
1       NaN
5       NaN
6       NaN
8       NaN
14      NaN
         ..
11289   NaN
11293   NaN
11295   NaN
11299   NaN
11301   NaN
Name: C_FR_BORR, Length: 2000, dtype: float64
4       NaN
6       NaN
7       NaN
11      NaN
13      NaN
         ..
11274   NaN
11279   NaN
11284   NaN
11298   NaN
11306   NaN
Name: INVEST_INCOME, Length: 2152, dtype: float64

In [11]:
y_train.groupby(y_train).count()

INVEST_INCOME
-2.807141e+09    1
-2.221356e+09    1
-1.400047e+09    1
-1.000922e+09    1
-7.260270e+08    1
                ..
 2.545642e+10    1
 2.783467e+10    1
 2.966313e+10    1
 3.057259e+10    1
 3.081161e+10    1
Name: INVEST_INCOME, Length: 9072, dtype: int64

---

## 插入因子数据

In [12]:
#去除异常值
train_inf = np.isfinite(clean_data_mean)
clean_data_mean[train_inf==False] = 0

In [13]:
ramdonForest_end_Data = clean_data_mean
ramdonForest_end_Data["AP_TC"] = ramdonForest_end_Data["AP"] / ramdonForest_end_Data["T_CA"]
ramdonForest_end_Data["OR_TC"] = ramdonForest_end_Data["OTH_RECEIV"] / ramdonForest_end_Data["T_CA"]
ramdonForest_end_Data["IN_TC"] = ramdonForest_end_Data["INVENTORIES"] / ramdonForest_end_Data["T_CA"]
ramdonForest_end_Data["NI_NI"] = ramdonForest_end_Data["NOPERATE_INCOME"] / ramdonForest_end_Data["N_INCOME"]

In [14]:
ramdonForest_end_Data['FLAG'].groupby(ramdonForest_end_Data['FLAG']).count()

FLAG
0.0    11219
1.0       91
Name: FLAG, dtype: int64

In [15]:
ramdonForest_end_Data.to_csv("./制造业_处理.csv", encoding="utf8")